*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

body{
    background-color: aqua;
    height:100%;
    width:100%;
}

.primary_text{
    color:black;
    font-size:2rem;
    border:2px dotted red;
   margin:10px;
   padding:10px;
}