*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*utils*/

img{
    width:50%;
    height: 50%;
}

.main_image{
    display: flex;
     justify-items: center;
     background-color: green;
    }

body{
    background-color: aqua;
    height:100%;
    width:100%;
}

.primary_text{
    color:black;
    font-size:2rem;
    border:2px dotted red;
   margin:10px;
   padding:10px;
}

.footer-image{
    background-color: green;
}